#app {
  text-align: center;
  margin-top: 200px;
}
input,
button {
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #5cb85c;
  border-color: #449d44;
  color: #fff;
  cursor: pointer;
}
